body {
  margin: 0;
  font-family: Yu Gothic;
  color: #2D3C7D;
  font-weight: bold;
  background-color: #D0D4E6;
}

.container{
  display: grid;
  grid-template-areas: 
  "menu header header"
  "menu hero hero"
  "menu hero hero";   
}

.main {
  padding-left: 2rem;
}

.menu{
  grid-area: menu;
  width: 17rem;
  background-color: #2D3C7D;
}

.header {
  grid-area: main-header;
  margin-top: -1rem;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-size: xxx-large;
}

.header h2 {
  font-size: large;
  margin-top: -1.3rem;
}

.button {
  padding: 3rem;
  margin-right: 15rem;
}

.button .btn-adc {
  font-family: Yu Gothic;
  display: inline-block;
  padding: 0.5rem;
  background-color: #3F57B9;
  color: #FFFFFF;
  font-size: large;
  font-weight: bold;
  text-decoration: none; 
  border-radius: 10rem;
  cursor: pointer;
}

.button button {
  background: transparent;
  border: none;
}

.tittle {
  display: flex;
  flex-direction: column;
}

.scrollbar-container {
  position: relative;
  padding-top: 1rem;
}

.scrollbar {
  width: 50rem;
  height: 0.7rem; 
  background-color: #94A0D3; 
  border-radius: 1rem;
}

.scrollbar-thumb {
  margin-left: 1rem;
  margin-top: 0.3rem;
  width: 75%; 
  height: 10%;
  background-color: #ffff; 
  cursor: pointer;
}

.carrossel-container {
  padding-bottom: 2rem;
  margin-top: 2rem;
  width: 90%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.carrossel-item {
  border-radius: 1rem;
  width: 25rem; 
  height: 14rem; 
  background-color: grey; 
  font-size: xxx-large;
  font-weight: bold;
  color: #FFFFFF;
  padding-left: 1rem;
}

.carrossel-item a {
  font-size: small;
  text-decoration: none;
}

#item1{
  background-color: #5EA7AA;
}
#item2{
  background-color: #DD619F;
}
#item3{
  background-color: #AA6EB8;
}
#item4{
  background-color: #E8A829;
}
#item5{
  background-color: #C5AB2F;
}
#item6{
  background-color: #6D95E6;
}

#estatisticas {
  color: #FFFFFF;
  display: flex;
  margin-top: 6.7rem;
  gap: 0.2rem;
  font-weight: bold;
  font-size: x-small;
}

#estatisticas img {
  width: 2rem;
  height: 1.5rem;
  margin-top: -0.3rem;
  color: #FFFFFF;
}

.carrossel-item img {
 float: right;
 margin-top: -8.7rem;
}

.carrossel-item p {
  font-size: medium;
  font-weight: lighter;
  margin-top: -1rem;
}

.btn-item {
  float: right;
  margin-top: -8rem;
}

.btn-item button {
  font-family: Yu Gothic;
  display: inline-block;
  width: 4rem;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none; 
  border-radius: 10rem;
  cursor: pointer;
  margin-left: -5rem;
  border-width: 0.2rem;
  border: solid #ffff;
}

.btn-item a {
  font-size: smaller;
}

.btn {
  margin-left: -1rem;
  color: #FFFFFF;
  padding: 1rem;
}

.scrollbar-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.carrossel {
  display: inline-block;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

@media (min-width: 768px) {
  .scrollbar-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .carrossel {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .scrollbar-container {
    grid-template-columns: repeat(6, 1fr);
  }

  .carrossel {
    grid-template-columns: repeat(3, 1fr);
  }
}

.plant {
  position: absolute;
  margin-top: -45rem;
  margin-left: 44rem;
  z-index: -1; 
}

.plant img {
  width: 25rem;
}
