body {
    margin: 0;
    font-family: Yu Gothic;
    color: #2D3C7D;
    font-weight: bold;
    background-color: #D0D4E6;
    height: 100%;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-areas:
    "menu header header"
    "menu hero hero"
    "menu footer footer";
}

.menu {
    grid-area: menu;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-right: 20rem;
}

.header{
    grid-area: header;
    display: flex;
}

.footer {
    grid-area: footer;
}

.button-adc {
    padding-top: 1.5rem;
    margin-left: 28rem;
}

.button-adc button {
    border: none;
    font-family: Yu Gothic;
    display: inline-block;
    padding: 0.4rem;
    background-color: #3F57B9;
    font-size: medium;
    font-weight: bolder;
    text-decoration: none; 
    border-radius: 10rem;
    cursor: pointer;
    width: 14rem;
}

.button-adc a {
    text-decoration:  none;
    color: white;
}

.hero {
    grid-area: hero;
}

.tittle {
    margin-top: -1rem;
    margin-left: -6rem;
}

.tittle h1 {
    font-size: 2.5rem;
}

.tittle h2 {
    font-size: 1rem;
    margin-top: -2rem;
}

.info-block {
    margin-left: -3rem;
}

.info {
    margin-left: -3rem;  
    font-size: 0.7rem;  
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 0.2rem;
    font-size: 0.7rem;
    margin-left: -3rem;
}

.info-grid button {
    background-color: transparent;
    border: none;
    color: #2c3c79;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
}

.info-grid textarea {
    border: none; 
    outline: none; 
    resize: none;
    overflow: hidden; 
    background-color: transparent; 
    font-family: Yu Gothic;
    font-size: large;
    color: #5A6EC1;;
    font-weight: bold;
    margin-top: -2rem;
    margin-left: 0.5rem;
}

.plant {
    position: absolute;
    margin-top: -26rem;
    margin-left: 38rem;
    z-index: -1;
}

.dif, .materia{
    margin-left: -3rem;
}

.turma {
    margin-left: -3.5rem;
}

.outros {
    margin-left: -8rem;
}

.outros label {
    color: #5A6EC1;
    font-size: large;
}

.gaba-btn {
    margin-top: -1rem;
}

.gaba-btn a{
    color: #5A6EC1;
    text-decoration: none;
    font-size: 1.2rem;    
}

.line {
    height: 2px;
    background-color: black;
    width: 100%;
    opacity: 20%;
    margin: 0;
    color: #2D3C7D;
    font-style: bold;
    margin-left: -6rem;
    margin-top: 2rem;
}

.footer img {
    margin-top: 2rem;
    margin-left: -7.8rem;
}

.questoes {
    font-size: 0.7rem;
    margin-top: -21rem;
    margin-left: 5rem;
}

.select {
    margin-top: -2rem;
    margin-left: 7rem;
    display: flex;
    gap: 1.5rem;
}

#facil {
    background-color: #31C456;
    width: 3.9rem;
    height: 2.9rem;
    border-radius: 0.5rem;
    color: white;
}

#facil p {
    padding: 0.8rem;
}

#medio {
    background-color: #FBCB23;
    width: 3.9rem;
    height: 2.9rem;
    border-radius: 0.5rem;
    color: white;
}

#medio p {
    padding: 0.8rem;
    margin-left: -0.3rem;
}

#dificil{
    background-color: #E74C3C;
    width: 3.9rem;
    height: 2.9rem;
    border-radius: 0.5rem;
    color: white;
}

#dificil p {
    padding: 0.8rem;
    margin-left: -0.25rem;
}

.dificil {
    margin-right: -5rem;
}

.enun {
    width: 12rem;
    height: 5rem;
    border: 2px solid #94A0D3;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.enun h1 {
    font-size: 1.2rem;
    margin-top: -0.4rem;
}

.enun p {
    font-size: 0.8rem;
    color: #5A6EC1;
    margin-top: -1rem;
}

.pontos {
    display: flex;
    margin-top: -2rem;
}

.pontos p {
    margin-top: 1.7rem;
}

.pontos .valor {
    color: #2D3C7D;
    font-size: 1.3rem;
}

.pontos .nota {
    margin-left: 1rem;
    margin-top: 2.2rem;
}

.edit-btn {
    margin-left: 3rem;
    margin-top: 2rem;
}

.edit-btn button {
    font-family: Yu Gothic;
    background-color: #162874;
    text-decoration: none; 
    border-radius: 0.4rem;
    cursor: pointer;
    border: none;
}

.edit-btn a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}