body {
    margin: 0;
    font-family: Yu Gothic;
    color: #2D3C7D;
    font-weight: bold;
    background-color: #D0D4E6;
    overflow-x: hidden;
}

.container{
    display: grid;
    grid-template-areas: 
    "menu main-header main-header"
    "menu main-hero main-hero"
    "menu main-footer main-footer";   
}

.menu {
    grid-area: menu;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-right: 18rem;
}

.main-header{
    grid-area: main-header;
}

.main-hero{
    grid-area: main-hero;
}

.main-footer{
    grid-area: main-footer;
}

.main-header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding-left: 3rem;
    margin-top: -1rem;
}

.main-header h1 {
    font-style: bold;
    font-size: xx-large;
    margin-bottom: -1rem; 
    padding-top: 1rem;
}

.main-header h2 {
    font-size: medium;
    padding-left: 0.1rem;
    font-weight: light;
}

.btn-link {
    font-family: Yu Gothic;
    display: inline-block;
    padding: 0.5rem;
    background-color: #3F57B9;
    color: #FFFFFF;
    font-size: large;
    font-weight: bold;
    text-decoration: none; 
    border-radius: 10rem;
    cursor: pointer;
}

.button-adc {
    padding-top: 2.7rem;
    margin-right: 5rem;
}

.main-hero {
    display: flex;
    align-items: center; 
    height: 25rem;
    margin-top: -2rem;
}

.icon {
    padding-left: 3rem;
}

.icon button{
    padding-left: 4.5rem;
    margin-top: -0.5rem;
    font-size: large;
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: small;
}

.info-block {
    white-space: nowrap;
    padding-left: 3rem;
}

.info {
    font-size: small;
    margin-left: -3rem;  
    margin-top: -3rem;  
}

.info-grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.25rem; 
    font-size: smaller;
}

button {
    background-color: transparent;
    border: none;
    color: #2c3c79;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
}

.name, .fone, .email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem; 
}

textarea {
    border: none; 
    outline: none; 
    resize: none;
    overflow: hidden; 
    background-color: transparent; 
    font-family: Yu Gothic;
    font-size: x-large;
    color: #5A6EC1;;
    font-weight: bold;
    margin-top: -0.5rem;
    margin-left: 1rem;
}

.name h1,
.fone h1,
.email h1 {
    margin-bottom: -0.1rem; 
}

.email {
    margin-top: -1rem;
}

.plant {
    position: absolute;
    margin-left: 45rem;
    margin-bottom: -13rem;
    z-index: -1;
}

.line {
    height: 2px;
    background-color: black;
    width: 50%;
    opacity: 20%;
    margin-top: -5rem;
    margin-bottom: 1rem;
    font-style: bold;
    margin-left: 18rem;
}

.main-footer{
    display: flex;
    align-items: center;
}

.school {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin-top: -3rem;
    padding-bottom: 4rem;
}

.school-info {
    padding-top: 2rem;
    font-size: x-large;
}

.inst, .cellfone, .adress {
    font-size: smaller;
    padding-left: 3rem;
}

.inst {
    grid-column: 1 ; 
    margin-top: -1rem;
}

.cellfone{
    grid-column: 2; 
    margin-left: -1rem;
    margin-top: -1rem;
}

.inst h2, .cellfone h2, .adress h2 {
    color: #5A6EC1;
    padding-left: 0.5rem;
    margin-top: -1rem;
    font-size: x-large;
}

.adress{
    margin-top: -2rem;
}


