body {
    margin: 0;
    width: 18rem;
    font-family: Segoe UI;
    color: #FFFFFF;
    overflow-y: hidden;
    height: auto;
    height: 100%;
}

.menu{
    height: 100%;
    width: 100%;
    background-color: #162874;
    overflow: hidden;
}

.menu-header{
    line-height: 0.1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5rem;
}

.menu-header h1{
    font-size: xxx-large;
    font-family: Yu Gothic UI;
}

.menu-header h2{
    color: #999999;
    font-size: small;
    font-weight: 400;
}

.menu-hero{
    display: flex;
    padding-top: 3rem;
    align-items: center;
    flex-direction: column;
}

.button button{
    background-color: #3F57B9;
    height: 3rem;
    width: 13rem;
    border: none;
    border-radius: 10px;
}

.button button a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: larger;
    font-weight: bold
}

.others{
    padding-top: 0.5rem;
}

.btn-mt button, .btn-mp button, .btn-bq button, .btn-n button{
    background-color: transparent;
    border: none;
    margin-top: 1.5rem;
}

.btn-mt a, .btn-bq a, .btn-mp a, .btn-n a {
    font-family: Segoe UI;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
}

.btn-bq img, .btn-mp img, .btn-mt img, .btn-n img {
    margin-bottom: -0.5rem;
}

.menu-footer{
    display: flex;
    padding-top: 11rem;
    align-items: center;
    padding-bottom: 5rem;
}

.menu-footer img{
    margin-bottom: -1rem;
    height: 80px;
    width: auto;
    margin-left: 1rem;
}

.menu-footer p{
    margin-bottom: -0.2rem;
    margin-left: 1rem;
    font-weight: bold;
}

.btn-footer {
    background-color: transparent;
    border: none;
    margin-bottom: -0.4rem;
}

@media only screen and (max-width: 1080px) {
    .container {
        grid-template-areas:
        "menu-header"
        "menu-hero"
        "menu-footer";
    }
}