body {
    margin: 0px;
    width: 100%;
    font-family: Segoe UI;
    color: #FFFFFF;
}

.container{
    display: grid;
    grid-template-areas:
    "menu-header space space"
    "menu-hero space space"
    "menu-footer space space";
}

.menu-header{
    grid-area: menu-header;
}

.menu-hero{
    grid-area: menu-hero;
}

.menu-footer{
    grid-area: menu-footer;
}

.space{
    grid-area: space;
    height: 100%;
    width: auto;
}

.menu{
    height: 100%;
    width: 50%;
    background-color: #162874;
}

.menu-header{
    line-height: 0.1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5rem;
    
}

.menu-header h1{
    font-size: xxx-large;
    font-family: Yu Gothic UI;
}

.menu-header h2{
    color: #999999;
    font-size: small;
}

.menu-hero{
    display: flex;
    padding-top: 3rem;
    align-items: center;
    flex-direction: column;
}

.button button{
    background-color: #3F57B9;
    height: 2.5rem;
    width: 12rem;
    border: none;
    border-radius: 10px;
}

.button button a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: larger;
    font-weight: bold
}

.others{
    padding-top: 1rem;
}

.others ul {
    list-style-type: none; 
    padding: 0;
    padding-left: 1rem;
}

.others ul li {
    margin-bottom: 1rem;
}

.others ul a {
    color: white;
    text-decoration: none;
}

.others ul li a i {
    margin-right: 0.5rem;
    font-size: 1.4rem;
}

.menu-footer{
    display: flex;
    padding-top: 11rem;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.menu-footer img{
    height: 80px;
    width: auto;
}

.menu-footer p{
    margin-right: 3rem;
    font-weight: bold;
}

.btn-footer {
    background-color: #3F57B9;
    border: none;
    border-radius: 5px;
    height: 1rem;
    display: flex; 
    align-items: end; 
}

.menu-footer button a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: x-large;
    font-weight: bold;
}

@media only screen and (max-width: 1080px) {
    .container {
        grid-template-areas:
        "menu-header"
        "menu-hero"
        "menu-footer";
    }
}